<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div  style="margin: 80px auto;" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="contactLabel">Contact Gunn Business</h3>
            </div>
            <div class="modal-body">
                <p>If you have any questions or concerns about Gunn Business, please email <a href="mailto:gunnbusiness.ghs@gmail.com">gunnbusiness.ghs@gmail.com</a>. We would love to answer your questions and talk to you.</p>
                <li>Gunn Business Email: <a href="mailto:gunnbusiness.ghs@gmail.com">gunnbusiness.ghs@gmail.com</a></li>
                <li>DECA Email: <a href="mailto:gunndeca.ghs@gmail.com">gunndeca.ghs@gmail.com</a></li>
                <li>FBLA Email: <a href="mailto:fblagunn@gmail.com">fblagunn@gmail.com</a></li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
