<footer class="footer sticky-footer">
    <div class="container">
        <ul class="pull-left footer-links">
            <li><a href="index-2#what-is-fbla">What is FBLA?</a></li>
            <li><a href="events">Events</a></li>
        </ul>
        <ul class="pull-right footer-links">
            <li><a href="about">Executive Committee</a></li>
            <li><a data-toggle="modal" data-target="#contact">Contact</a></li>
        </ul>
        <img class="footer-logo" src="img/logo-grey.png" />
    </div>
</footer>
