<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/myriad.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gunn FBLA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="news">News</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="events">Events</a>
                    </li>
                    <li class="dropdown">
                        <a class="nav-bold" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="projects">About Projects</a>
                            </li><li>
                            </li><li>
                                <a href="ae">American Enterprise</a>
                            </li>
                            <li>
                                <a href="pb">Partnership with Business</a>
                            </li>
                            <li>
                                <a class="nav-bold" href="cs">Community Service</a>
                            </li>
                        </ul>
                    </li>
                    <% if (login) { %>
                        <li>
                            <a href="profile">Profile</a>
                        </li>
                    <% } %>
                    <li>
                        <% if (login) { %>
                            <a href="logout">Logout</a>
                        <% }else{ %>
                            <a href="login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
     <div class="container">
        <div class="row heading center">
            <h1>Community Service</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p>2016-2017 Community Service Chair: Keshav Nand</p>
        </div>
        <br />
        <div class="row">
            <h3>What do we do?</h3>
            <p>The FBLA Community Service event encourages Gunn FBLA members to develop and implement a community service project that serves our community.</p>
        </div>
         <div class="row">
            <h3>Our Project</h3>
            <p>We will have a new project once school starts. Stay tuned!</p>
        </div>
        <!--<div class="row">
            <h3>Why You Should Join</h3>
            <p></p>
        </div>-->
        <div class="row">
            <h3>Have questions or want to join?</h3>
            <p>Contact us at <a href="mailto:fblagunn@gmail.com">fblagunn@gmail.com.</a></p>
        </div>
    </div>


    <!-- Footer -->
    <%- include('partials/sticky-footer') %>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="contactLabel">Contact Gunn FBLA</h3>
                </div>
                <div class="modal-body">
                    <p>If you have any questions or concerns about FBLA, please email <a href="mailto:fblagunn@gmail.com">fblagunn@gmail.com</a>, or call <a href="tel:16503917740">(650)-391-7740</a>.  We would love to answer your questions and talk to you.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="/javascripts/main.js"></script>
    <!-- <script>
        $(document).ready(function () {
            $('#myform').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    url : $(this).attr('action') || window.location.pathname,
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (data) {
                        $("#form_output").html(data);
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            });
        });
    </script> -->



</body></html>
