<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <style>
      body {padding-top: 0;}
    </style>

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/myriad.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-head">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gunn Business Club</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="news">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="events">Events</a>
                    </li>
                    <li class="dropdown">
                        <a href="projects" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="projects">About Projects</a>
                            </li><li>
                            </li><li>
                                <a href="ae">American Enterprise</a>
                            </li>
                            <li>
                                <a href="pb">Partnership with Business</a>
                            </li>
                            <li>
                                <a href="cs">Community Service</a>
                            </li>
                        </ul>
                    </li>
                    <% if (login) { %>
                        <li>
                            <a href="profile">Profile</a>
                        </li>
                    <% } %>
                    <li>
                        <% if (login) { %>
                            <a href="logout">Logout</a>
                        <% }else{ %>
                            <a href="login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1" class=""></li>
            <li data-target="#carousel" data-slide-to="2" class=""></li>
        </ol> -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image: url('img/carousel_1.jpg');"></div>
                <div class="carousel-caption">
                    <h2>We are</h2>
                    <h2 class="bold">Entrepreneurs</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image: url('img/carousel_2.jpg');"></div>
                <div class="carousel-caption">
                    <h2>We are</h2>
                    <h2 class="bold">Leaders</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image: url('img/carousel_3.jpg');"></div>
                <div class="carousel-caption">
                    <h2>We are</h2>
                    <h2 class="bold">Gunn Business</h2>
                </div>
            </div>
        </div>

        <!-- Controls if needed
        <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        -->
    </header>

    <!-- Page Content -->
    <div class="container" id="lead-container">
        <div class="row">
            <div class="col-md-4">
                <img src="img/section-1.png">
            </div>
            <div class="col-md-7 col-md-offset-1" id="lead-section">
                <h1>Gunn Business, a non-profit organization, acts as a bridge that helps students transition into the business world.</h1>
                <p class="action"><a class="btn btn-outline" href="#what-is-fbla" role="button">More about Gunn Business</a></p>
            </div>
        </div>
    </div>
    <div class="container full-width">
        <div class="row blue-threes" id="what-is-gunnbiz">
            <div class="col-md-4">
                <h3>What is Gunn Business?</h3>
                <p>Future Billionaires in Los Angeles? Future Boring Lectures of America? No, it’s Future Business Leaders of America. This nationally recognized club is available for high school students looking for experience and knowledge in several fields, not just business. Gunn Business, a non-profit organization, acts as a bridge that helps students transition into the business world. Through tournaments and events, we can impact the community, and our top notch guidance from our esteemed officers will put you at the top of your game.</p>
            </div>
            <div class="col-md-4">
                <h3>Why should you join?</h3>
                <p>Regardless of skill level, Gunn Business welcomes everyone. Gunn Business provides you with exposure to real life experiences that you wouldn’t attain in school. This club will provide opportunities to attend exciting leadership conferences, establish life lasting friendships, and most significantly, improve business skills. Gunn Business will also develop your self-confidence and sharpen your leadership skills in a fun and sociable environment. Joining Gunn Business will infuse your life with positive effects.</p>
            </div>
            <div class="col-md-4">
                <h3>Competitions and Conferences</h3>
                <p>With over than seven billion people on Earth, surely there is a wide spectrum of unique skills and talents.  Each and every person has something to show the world. This is why Gunn Business competitions are especially singular.  Topics at competitions vary from Health Care Administration to Cyber Security. With over 60 events to chose from, discovering a topic that you are passionate about should be the least of your worries.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-12 announcement">
            <h1>2016 – 2017 School Year Coming Up!</h1>
            <p class="lead">Get ready for another exciting school year of Gunn Business!</p>
          </div>
        <!--
          <div class="col-md-6 announcement">
            <h1>Announcement header goe...</h1>
            <h4>January 25, 2015</h4>
            <p>With over than seven billion people on Earth, surely there is a wide spectrum of unique skills and talents.  Each and every person has something to show the World.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 announcement">
            <h1>Announcement header goe...</h1>
            <h4>January 25, 2015</h4>
            <p>With over than seven billion people on Earth, surely there is a wide spectrum of unique skills and talents.  Each and every person has something to show the World.</p>
          </div>
          <div class="col-md-6 announcement">
            <h1>Announcement header goe...</h1>
            <h4>January 25, 2015</h4>
            <p>With over than seven billion people on Earth, surely there is a wide spectrum of unique skills and talents.  Each and every person has something to show the World.</p>
          </div>-->
        </div>
    </div>



    <!-- Footer -->
    <%- include('partials/footer') %>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="contactLabel">Contact Gunn Business</h3>
                </div>
                <div class="modal-body">
                    <p>If you have any questions or concerns about Gunn Business, please email <a href="mailto:fblagunn@gmail.com">fblagunn@gmail.com</a>, or call <a href="tel:16503917740">(650)-391-7740</a>.  We would love to answer your questions and talk to you.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="javascripts/main.js"></script>
    <!-- <script src="res/js/nav.js"></script> -->




</body></html>
