<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/myriad.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gunn FBLA</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-bold" href="news">News</a>
                    </li>
                    <li>
                        <a href="about">About</a>
                    </li>
                    <li>
                        <a href="events">Events</a>
                    </li>
                    <li class="dropdown">
                        <a href="projects" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="projects">About Projects</a>
                            </li><li>
                            </li><li>
                                <a href="ae">American Enterprise</a>
                            </li>
                            <li>
                                <a href="pb">Partnership with Business</a>
                            </li>
                            <li>
                                <a href="cs">Community Service</a>
                            </li>
                        </ul>
                    </li>
                    <% if (login) { %>
                        <li>
                            <a href="profile">Profile</a>
                        </li>
                    <% } %>
                    <li>
                        <% if (login) { %>
                            <a href="logout">Logout</a>
                        <% }else{ %>
                            <a href="login">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
     <div class="container">
     	<div class="row heading center">
    		<h1>News</h1>
            <h4>Visit our Facebook page for weekly meeting updates!</h4>
    	</div>
    </div>

    <!-- To add: Bay Section Conference // LinkedIn Tour // Cisco Tour // State Conference // National Conference-->


    <div class="container">
        <div class="row update">
            <div class="col-md-8">
                <h3>National Conference – July 2016</h3>
                <p>Gunn FBLA took a trip to Atlanta, Georgia, for this year's national leadership conference. Among the exciting activities the chapter did were seeing the fish at Georgia Aquarium, drinking gallons of soda at the World of Coca-Cola, and taking a tour of CNN's world headquarters. Congratulations for a powerful finish to this year's competitions, including a 9th place finish by the Network Design team of Michael Lu, Joshua Wu, and Max Wang, and a 5th place finish by Joseph Ng in Introduction to Business Communications.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/news/national_2016.jpg" />
            </div>
        </div>
        <hr>
        <div class="row update">
            <div class="col-md-4">
                <img class="img-responsive" src="img/news/state_2016.jpg" />
            </div>
            <div class="col-md-8">
                <h3>State Conference – April 2016</h3>
                <p>Gunn FBLA continued its strong performance this year at the state conference in Ontario, California. Gunn had 23 top-ten finishers. Congratulations to Joseph Ng and the Banking and Financial Systems team of Bryan Owens, Joseph Lai, and Michael Song for achieiving first place!</p>
            </div>
        </div>
        <hr>
        <div class="row update">
            <div class="col-md-8">
                <h3>Section Conference – February 2016</h3>
                <p>This year's section conference was our most forceful showing yet. With over 40 awards, including two first place prizes by Benjamin Owens and Bryan Owens, Gunn FBLA is starting its competition seaason strong.</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/news/section_2016.jpg" />
            </div>
        </div>
        <hr>
        <div class="row update">
        	<div class="col-md-4">
        		<img class="img-responsive" src="img/news/ldi_2015.jpg" />
        	</div>
            <div class="col-md-8">
                <h3>LDI – October 2015</h3>
                <p>LDI took place the weekend of Halloween, but the conference was anything but scary. It was fun and exciting for everyone, and it included inspirational guest speakers, educational workshops, and engaging activities, including a dance in the evening.</p>
            </div>
        </div>
        <hr>
        <div class="row update">
            <div class="col-md-8">
                <h3>Club Fair – September 2015</h3>
                <p>The club fair took place on September 18. FBLA showed off its broad range of plaques and awards, enticing many to sign up. It was a successful day for FBLA. With over fifty new members, FBLA is one of the largest clubs in the school. Get ready for another year of conferences and becoming a better businessperson!</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="img/news/clubfair_2015.jpg" />
            </div>
        </div>
        <hr>
        <div class="row update">
            <div class="col-md-4">
                <img class="img-responsive" src="img/news/national_2015.jpg" />
            </div>
            <div class="col-md-8">
                <h3>National Conference – July 2015</h3>
                <p>Joseph Ng, Sam Winslow, and Bryan Owens traveled to the windy city of Chicago to participate in the 50,000-person National Leadership Conference. They braved the nation's toughest competition and came out on top. Congratulations to Joseph Ng, who won seventh place in the nation for Business Procedures.</p>
            </div>
        </div>
        <hr>
        <div class="row update">
            <div class="col-md-8">
                <h3>State Conference – April 2015</h3>
                <p>Gunn FBLA went to the state conference in Santa Clara. Through three days of fun and excitement, we participated in competitions, tests, activities, and games. We went to Great America, we went swimming, and overall just had a great time. Many of our members won awards, including Joseph Ng, Sam Winslow, Ben Owens, and Bryan Owens. A great start for a first year chapter!</p>
            </div>
        	<div class="col-md-4">
        		<img class="img-responsive" src="img/news/state_2015.jpg" />
        	</div>
        </div>
    </div>



    <!-- Footer -->
    <%- include('partials/footer') %>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="contactLabel">Contact Gunn FBLA</h3>
                </div>
                <div class="modal-body">
                    <p>If you have any questions or concerns about FBLA, please email <a href="mailto:fblagunn@gmail.com">fblagunn@gmail.com</a>, or call <a href="tel:16503917740">(650)-391-7740</a>.  We would love to answer your questions and talk to you.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="javascripts/main.js"></script>
    <!-- <script src="js/nav.js"></script> -->




</body></html>
