<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <%- include('partials/navbar') %>

    <!-- Page Content -->
    <div class="container">
     	<div class="row heading">
    		<h1>Current Officers</h1>
        </div>
        <div class="row">
             <div class="col-md-6" style="padding-left: initial;">
                 <img src = "img/officers/joseph_layered.jpg" width = "400" height = "400">
             </div>
             <div class="col-md-6" style="padding-left: initial;">
                 <h3><p class ="name" style="padding-bottom: 10px;">Joseph Ng - Co-President
                 </p></h3>
                 <p class ="bio">
                     Joseph Ng is a current senior at Henry M. Gunn High School and serves as the Co-President of Gunn Business.
                 </p>
             </div>
        </div>
        <div class="row update">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/sean_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Sean Lin - Co-President
                </p></h3>
                <p class ="bio">
                    Sean Lin is a current senior at Henry M. Gunn High School and serves as the Co-President of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/grace_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Grace Ding - DECA VP
                </p></h3>
                <p class ="bio">
                    Grace Ding is a current senior at Henry M. Gunn High School and serves as the DECA Vice President of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row update">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/joshua_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Joshua Wu - FBLA VP
                </p></h3>
                <p class ="bio">
                    Joshua Wu is a current senior at Henry M. Gunn High School and serves as the FBLA Vice President of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/shirley_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Shirley Zhang - Secretary/Treasurer
                </p></h3>
                <p class ="bio">
                    Shirley Zhang is a current senior at Henry M. Gunn High School and serves as the Secretary and Treasurer of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row update">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/andrew_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Andrew Dong - Director of Fundraising
                </p></h3>
                <p class ="bio">
                    Andrew Dong is a current senior at Henry M. Gunn High School and serves as the Director of Fundraising for Gunn Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/stephanie_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Stephanie Zhang - Director of Business Activities
                </p></h3>
                <p class ="bio">
                    Stephanie Zhang is a current senior at Henry M. Gunn High School and serves as the Director of Business Activities of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row update">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/sherry_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Sherry Wang - Director of Business Activities
                </p></h3>
                <p class ="bio">
                    Sherry Wang is a current sophomore at Henry M. Gunn High School and serves as the Director of Business Activities of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/chris_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Christopher Ting - DECA PR
                </p></h3>
                <p class ="bio">
                    Christopher Ting is a current senior at Henry M. Gunn High School and serves as the DECA PR of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row update">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/chris_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Jennifer Gao - FBLA PR
                </p></h3>
                <p class ="bio">
                    Jennifer Gao is a current sophomore at Henry M. Gunn High School and serves as the FBLA PR of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/shannon_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Shannon Lin - Parliamentarian
                </p></h3>
                <p class ="bio">
                    Shannon Lin is a current sophomore at Henry M. Gunn High School and serves as the Parliamentarian of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row update">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/rajat_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Rajat Khare - Webmaster
                </p></h3>
                <p class ="bio">
                    Rajat Khare is a current junior at Henry M. Gunn High School and serves as a Webmaster of Gunn Business.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-left: initial;">
                <img src = "img/officers/michael_layered.jpg" width = "400" height = "400">
            </div>
            <div class="col-md-6" style="padding-left: initial;">
                <h3><p class ="name" style="padding-bottom: 10px;">Michael Huang - Webmaster
                </p></h3>
                <p class ="bio">
                    Michael Huang is a current senior at Henry M. Gunn High School and serves as the Webmaster of Gunn Business.
                </p>
            </div>
        </div>
    </div>

    <br>


    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/contact') %>

    <!-- jQuery -->
    <script src='javascripts/lib/jquery.min.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->

</body></html>
