<html lang="en"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/myriad.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <%- include('partials/navbar') %>

    <!-- Page Content -->
     <div class="container">
        <div class="row heading center">
            <h1>Partnership with Business</h1>
        </div>
        <div class="row">
            <p>2016-2017 Partnership with Business Chairs: Celine Shaw and Max Wang</p>
        </div>
        <br />
        <div class="row">
            <h3>What is Partnership with Business?</h3>
            <p>Partnership with Business is an FBLA project in which we form a mutually beneficial partnership with a corporation. This allows students to learn about a business and interact with the business community. We then submit a report to FBLA at the state conference detailing our partnership plan, what we learned, and the impact of the project.</p>
        </div>
         <div class="row">
            <h3>Our Project</h3>
            <p>This year we are partnering with NonChat. This innovative app is an exciting and unprecedented form of social media that incorporates augmented reality and animated avatars to interact with your friends. More information about our partnership <a href="https://drive.google.com/file/d/0BzMX1vrDzy0RMXdId2JzZ3BsOXBHdWxhZ3NtOUw1MHRtUHBR/view" target="_blank">here.</a></p>
        </div>
        <div class="row">
            <h3>Why You Should Join</h3>
            <p>Learning about business is something that is best done in real life, rather than sitting at a classroom desk or studying behind a computer. You will have the opportunity to interact and make connections with real business leaders and learn about marketing and management. Partnership with Business is a fun way to gain a solid introduction to the business world.</p>
        </div>
        <div class="row">
            <h3>Have questions or want to join?</h3>
            <p>Download NonChat on your phone, and then fill out your information <a href="https://docs.google.com/forms/d/e/1FAIpQLSetRSPjJnx6AK9MyZwE74wiUjDurrWTI7aKPG3eo51mQlK4Xw/viewform?c=0&amp;w=1" target="_blank">here.</a> By signing up this way, you can join the <a href="https://docs.google.com/document/d/1KK8jCWq1zwFE9h3IBAGKfIOxDghWDlMpO4LpEotJAxQ/edit" target="_blank">Honors Club.</a> Make sure to also give feedback about the app <a href="https://docs.google.com/forms/d/1RCxJLiqvTw020FDz_a9bCRDTjf_fXyfXhPn4AkDwbDk/viewform?edit_requested=true" target="_blank">here.</a> Thanks for joining!</p>

            <p>Want to contact us? Shoot us a message at <a href="mailto:fblagunn@gmail.com">fblagunn@gmail.com.</a>
        </div>
    </div>


    <!-- Footer -->
    <%- include('partials/footer') %>
    <%- include('partials/contact') %>

    <!-- jQuery -->
    <script src='javascripts/lib/jquery.min.js'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->

</body></html>
